<%    var respInst = "you will use the 'E' and 'I' computer keys to";    if (global.isTouch)    {        respInst = "you will";    }%><p class="lead">Next, <%=respInst%> categorize items into groups as fast as you can. These are the four groups and the items that belong to each:</p><table class="table table-bordered">	<tr class="active">		<th>Category</th>		<th>Items</th>	</tr>	<tr>		<th>Male</th>		<td>Man, Son, Father, Boy, Uncle, Grandpa, Husband, Male</td>	</tr>	<tr>		<th>Female</th>		<td>Mother, Wife, Aunt, Woman, Girl, Female, Grandma, Daughter</td>	</tr>	<tr>		<th>Science</th>		<td>Astronomy, Math, Chemistry, Physics, Biology, Geology, Engineering</td>	</tr>	<tr>		<th>Liberal Arts</th>		<td>History, Arts, Humanities, English, Philosophy, Music, Literature</td>	</tr>			</table><p class="lead">There are seven parts.  The instructions change for each part.  Pay attention!<p>